.homepageTop {
  background-image: url("../assets/homepage-background.png");
  background-repeat: no-repeat;
  height: 1080px;
  background-size: cover;
}

.homepageSearchBar {
  display: flex;
  justify-content: center;
  height: 80%;
  align-items: flex-end;
}

.homepageForm {
  background-color: white;
  padding: 30px;
}
