.homepageTop {
  background-image: url("../assets/header-background.jpg");
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
}

.homepageSearchBar {
  display: flex;
  justify-content: center;
  height: 80%;
  align-items: flex-end;
}

.homepageForm {
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  border: 1px solid rgb(70, 69, 69);
}
