.header {
  background-color: #000000;
  color: white;
}

.flexContainer {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.menuIcon {
  cursor: pointer;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}
